.NewsDetails {
	text-align: left;
}

.NewsDetails img {
	width: 100%;
	height: auto;
}

.NewsDetails a {
	color: black;
}

.NewsDetails a:hover {
	color: black;
	text-decoration: underline;
}

.NewsDetails h2,
.NewsDetails h3 {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.NewsDetails figcaption {
	font-size: 0.875rem;
}
