.NewsCard .btn-primary {
    color: indianred !important;
    background-color: whitesmoke !important;
    border-color: transparent !important;

    position:absolute;
    top:20px;
    right: 15px;

}